body{
    background-color:rgb(12, 12, 12);
}
.conatiner{
    background-color: rgb(182, 189, 196);
    text-align: center;
    width: 360px;
    padding: 33px;
    margin-top: 3px;
    margin-left: 33%;
}
.conatiner h1{
    color: rgb(10, 10, 9);
}
 input{
    height: 100px;
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(125, 136, 173);
    font-size: 19px;
    outline: none;
}
button{
    color: white;
    background-color: black;
    border: none;
    width: 60px;
    height: 45px;
    
}
.outerbox{
    display: flex;
    flex-wrap: wrap;
}
#addTask{
    color: antiquewhite;
    width: 59px;
    float: left;
    padding-left: 95px;
    padding-top: 35px;
    

}
#text{
    width: 1100px;
    height: 150px;
    border: 2px solid rgb(230, 225, 225);
}